<style>
  .custom-bg-heading {
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 50px;
    font-family: 'Baskervville';
    text-align: left;
    width: 100%;
    line-height: 50px;
  }

  @media screen and (max-width: 768px) {
    .custom-bg-heading {
      padding-top: 32px;
      padding-bottom: 28px;
      font-size: 30px;
      line-height: 34px;
    }
  }

  @media screen and (min-width: 769px) and (max-width: 989px) {
    .custom-bg-heading {
      padding-top: 40px;
      padding-bottom: 40px;
      font-size: 38px;
      line-height: 40px;
    }
  }

  @media screen and (max-width: 400px) {
    .custom-bg-heading {
      padding-top: 24px;
      padding-bottom: 20px;
      font-size: 24px;
      line-height: 28px;
    }
  }
</style>
<script src="{{ 'custom-bg-heading.js' | asset_url }}" defer="defer"></script>
<div
  style="color: {{ section.settings.heading_color }}; background-color: {{ section.settings.background_color }}"
  class="custom-bg-heading-container"
>
  <p
    class="page-width custom-bg-heading"
  >
    {{ section.settings.heading }}
  </p>
</div>

{% schema %}
{
  "name": "Custom BG Heading",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading Color"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color"
    }
  ],
  "presets": [
    {
      "name": "Custom BG Heading"
    }
  ]
}
{% endschema %}
