#shopify-section-template--21320554414274__custom_banner_WXTigg .custom-banner-container {
    height: 100vh;
    width: 100%;
}

#shopify-section-template--21320554414274__custom_banner_WXTigg .custom-banner-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.custom-banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-banner_desktop-image {
    display: flex;
    width: 100%;
    height: auto;
}

.custom-banner_mobile-image {
    width: 100%;
    height: auto;
    display: none;
}

@media(max-width: 749px) {
    .custom-banner_desktop-image {
        display: none;
    }

    .custom-banner_mobile-image {
        display: flex;
    }
}