.custom-images-grid_carousal-container {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100%;
    height: 80vh;
}

.custom-images-grid_carousal-desktop-image {
    display: block;
    width: calc(100% / var(--images-per-view, 4));
    height: 100%;
    object-fit: cover;
}

.custom-images-grid_carousal-mobile-image {
    display: none;
    width: 90%;
    height: auto;
}

@media(max-width: 768px) {
    .custom-images-grid_carousal-container {
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        height: fit-content;
    }

    .custom-images-grid_carousal-desktop-image {
        display: none;
    }

    .custom-images-grid_carousal-mobile-image {
        display: block;
        scroll-snap-align: start;
    }
}

@media(max-width: 400px) {
    .custom-images-grid_carousal-mobile-image {
        width: 85%;
    }
}