.custom-images-grid_carousal-container {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100%;
}

.custom-images-grid_carousal-desktop-image {
    display: block;
    width: 25%;
    height: auto;
}

.custom-images-grid_carousal-mobile-image {
    display: none;
    width: 90%;
    height: auto;
}

@media(max-width: 768px) {
    .custom-images-grid_carousal-container {
        overflow-x: auto;
        scroll-snap-type: x mandatory;
    }

    .custom-images-grid_carousal-desktop-image {
        display: none;
    }

    .custom-images-grid_carousal-mobile-image {
        display: block;
        scroll-snap-align: start;
    }
}