.pdp-fold-2-container {
  display: flex;
  align-items: center;
  background-color: #FFFDEE;
  color: #181818;
}

.pdp-fold-2-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem 4rem 4rem 4.8rem;
  box-sizing: border-box;
}

.pdp-fold-2-heading {
  margin: 0 0 25px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #181818;
  font-family: 'Baskervville';
  font-size: 50px;
  line-height: 65px;
}

.pdp-fold-2-left-bullets-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.pdp-fold-2-bullet {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.pdp-fold-2-bullet-icon {
  width: 30px;
  height: auto;
}

.pdp-fold-2-bullet-text {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 19px;
  color: #181818;
  padding-left: 11px;
}

.pdp-fold-2-right {
  width: 50%;
  aspect-ratio: 1 / 1;
}

.pdp-fold-2-right-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 749px) {
  .pdp-fold-2-container {
    flex-direction: column-reverse;
  }

  .pdp-fold-2-left {
    width: 100%;
    padding: 3rem 15px;
  }

  .pdp-fold-2-heading {
    font-size: 29px;
    line-height: 38px;
    font-weight: 500;
  }

  .pdp-fold-2-bullet-text {
    font-size: 15.5px;
  }

  .pdp-fold-2-bullet-icon {
    width: 25px;
  }

  .pdp-fold-2-left-bullets-container {
    gap: 25px;
  }

  .pdp-fold-2-right {
    width: 100%;
    height: auto;
    aspect-ratio: unset;
  }

  .pdp-fold-2-right-image {
    max-height: 400px;
  }
}